/* variabel warna */
:root {
    --teksdeskripsi: rgb(45, 45, 45);
}

/*  */

/* inisialisasi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*  */

/* tipografi */
h1.judul {
    font-size: xx-large;
}

p.deskripsi {
    color: var(--teks-deskripsi);
}

/*  */

/* komponen */
.tombol {
    /*  */
}

/*  */